/* Chrome, Safari, Opera */ 
@-webkit-keyframes xoayvong {
    from {
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
    }
    to {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }
  /* Standard syntax */ 
  @keyframes xoayvong {
    from {
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
    }
    to {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }
.keyf {
    animation: xoayvong 14s linear 0s infinite;
    -webkit-animation: xoayvong 14s linear 0s infinite;
    -moz-animation: xoayvong 14s linear 0s infinite;
    -o-animation: xoayvong 14s linear 0s infinite; 
  }